<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		<clear/>
		<add name="conString"
			 connectionString="Data Source=windycityserver.database.windows.net;Initial Catalog=customers;Persist Security Info=True;User ID=webappAdmin;Password=appAdmin2001"/>
	</connectionStrings>
	
</configuration>